body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: blue;
  color: yellow;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5rem;
}

.poke-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokemon{
  border: 2px solid white;
  width: 20%;
  border-radius: 15px;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}